
<!-- Home Page Index -->
<div class="container-xxl py-5">
    <div class="container">
        
        <div class="row gy-5 gx-4">
            <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="my-profile d-flex h-100">
                    
                    <div class="p-5 pt-0">
                        <div class="pic-frame">
                            <img class="img-fluid rounded-circle" src="~/dairyTheme/img/service-1.jpg" alt="">
                        </div>
                        <div class="text-center">
                            <h5>Profile Name</h5>
                        </div>

                        <!-- About me start -->
                        <div class="pt-3">
                            <p class="my-section-title bg-white text-center px-3">About Me</p>
                        </div>
                        <div>
                            <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>                           
                        </div>
                        <!-- About me end-->

                        <!-- Profile story start -->
                        <div class="text-center">
                            <p class="my-section-title bg-white text-center px-3">Story</p>                         
                        </div>
                        <div class="my-profile-button-container">
                            <a asp-area="User" asp-controller="Story" asp-action="CreateStory" class="my-profile-button my-box">New Story</a>
                            <a asp-area="User" asp-controller="Story" asp-action="Index" class="my-profile-button my-box mt-3">Continue Write</a>
                        </div>
                        <!-- Profile story end -->
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex h-100">
                    <div class="service-img">
                        <img class="img-fluid" src="img/service-2.jpg" alt="">
                    </div>
                    <div class="service-text p-5 pt-0">
                        <div class="service-icon">
                            <img class="img-fluid rounded-circle" src="img/service-2.jpg" alt="">
                        </div>
                        <h5 class="mb-3">Breeding & Veterinary</h5>
                        <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
                        <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-flex h-100">
                    <div class="service-img">
                        <img class="img-fluid" src="img/service-3.jpg" alt="">
                    </div>
                    <div class="service-text p-5 pt-0">
                        <div class="service-icon">
                            <img class="img-fluid rounded-circle" src="img/service-3.jpg" alt="">
                        </div>
                        <h5 class="mb-3">Care & Milking</h5>
                        <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet.</p>
                        <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



