html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}




/*MY CSS*/


/*--- Root ---*/
:root {
    --my-primary: #86275e;
    --my-secondary: #EDDD5E;
    --my-light: #F7F7F7;
    --my-dark: #404A3D;
}

/*--- Profile ---*/
.my-profile {
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
    display: flex; /* Use Flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align items to the top */
}

    .my-profile .profile-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 8px;
        overflow: hidden;
        z-index: -1;
    }

        .my-profile .profile-img img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            object-fit: cover;
            border-radius: 10px;
        }

    .my-profile .pic-frame {
        width: 140px;
        height: 140px;
        padding: 15px;
        margin-top: -70px;
        margin-bottom: 40px;
        background: #FFFFFF;
        border-radius: 140px;
        overflow: hidden;
        box-shadow: 0 0 60px rgba(0, 0, 0, .1);
        display: flex;
        justify-content: center; /* Centers the image horizontally */
        align-items: center; /* Centers the image vertically */
        margin-left: auto; /* Center the frame horizontally */
        margin-right: auto; /* Center the frame horizontally */
    }

        .my-profile .pic-frame img {
            border-radius: 50%; /* Ensures the image is circular */
            width: 100%;
            height: auto;
        }

    .my-profile .p-5 {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the content inside the container */
    }


/*--- Button ---*/

.my-profile-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Aligns items to the end of the container */
    gap: 10px; /* Adds some space between the buttons */
}

.my-box {
    width: 200px;
    height: auto;
    float: left;
    transition: .2s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    /*font-weight: 500;*/
    border-radius: 40px; /* Add this line to round the edges */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

    .my-box:before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        height: 4px;
        width: 100%;
        border-bottom: 2px solid transparent;
        border-left: 4px solid transparent;
        border-radius: 40px;
        box-sizing: border-box;
        transform: translateX(100%);
    }

    .my-box:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        border-top: 1px solid transparent;
        border-right: 4px solid transparent;
        border-radius: 40px;
        box-sizing: border-box;
        transform: translateX(-100%);
    }

    .my-box:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

        .my-box:hover:before {
            border-color: #86275e;
            border-radius: 40px;
            height: 100%;
            transform: translateX(0);
            transition: .3s transform linear, .2s height linear .1s;
        }

        .my-box:hover:after {
            border-color: #86275e;
            border-radius: 40px;
            height: 100%;
            transform: translateX(0);
            transition: .3s transform linear, .2s height linear .1s;
        }

.my-profile-button {
    color: #5D5D5D;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}

    .my-profile-button:hover {
        font-weight: bold;
        color: #217243;
        
    }

.save-box {
    width: 200px;
    height: auto;
    float: left;
    transition: .2s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background-color: #FFDB58;
    text-transform: uppercase;
    border-radius: 40px; /* Add this line to round the edges */    
}

    .save-box:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

.save-button {
    color: #217243;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    outline: none;
    background: transparent;
    border: 2px solid #86275e; /* Add this line to specify the border */
    border-radius: 40px; /* Optional: Add this line if you want rounded corners */
    padding: 10px 20px; /* Optional: Adjust padding for better button appearance */
    border-top: 1px solid;
    border-bottom: 2px solid;
    border-left: 4px solid;
    border-right: 4px solid;
    border-color: #86275e;
}

    .save-button:hover {
        font-weight: bold;
        /*color: #217243;*/
        color: #fff9cc;
        border-color: #86275e; /* Optional: Change border color on hover */
        background-color: #86275e;
        /*background-color: #fff9cc;*/
    }



/*--- Section Title ---*/
.my-section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    color: #217243;
}

    .my-section-title::before {
        position: absolute;
        content: "";
        width: calc(100% + 80px);
        height: 2px;
        top: 5px;
        left: -40px;
        background: var(--my-primary);
        z-index: -1;
    }

    .my-section-title::after {
        position: absolute;
        content: "";
        width: calc(100% + 120px);
        height: 2px;
        bottom: 6px;
        left: -60px;
        background: var(--my-primary);
        z-index: -1;
    }

    .my-section-title.text-start::before {
        width: calc(100% + 40px);
        left: 0;
    }

    .my-section-title.text-start::after {
        width: calc(100% + 60px);
        left: 0;
    }


/*--- Form ---*/

.chapter-form-control {
    border-radius: 25px; /* Adjust the value to make it more or less rounded */
    padding: 10px 20px; /* Add some padding for better spacing */
    border: 2px solid #ccc; /* Add a border color */
    transition: border-color 0.2s ease-in-out; /* Add a transition for smooth color change */
    width: 400px; /* Adjust the width as needed */
}

    .chapter-form-control:focus {
        border-color: #86275e; /* Change the border color when the input is focused */
        border-width: 2px; /* Adjust border width on focus */
        box-shadow: 0 0 10px rgba(158, 82, 126, 0.6); /* Optional: adds a subtle shadow effect */
        outline: none; /* Remove the default outline */
    }

.chapter-form-floating label {
    position: absolute;
    top: 0;
    left: 420px;
    padding: 10px 20px;
    pointer-events: none;
    transition: all 0.2s ease-out;
    opacity: 1;
}

.chapter-form-floating input:focus + label,
.chapter-form-floating input:not(:placeholder-shown) + label {
    top: 0px; /* Adjust the position */
    left: 420px; /* Adjust the position */
    font-size: 12px; /* Adjust the font size */
    opacity: 0; /* Make the label disappear */
}

.chapter-form-floating {
    position: relative;
    margin-bottom: 1rem;
}

    .chapter-form-floating input {
        padding: 10px 20px; /* Add padding inside the input */
        border-radius: 25px; /* Match the input field border radius */
        border: 1px solid #ccc; /* Add a border color */
        transition: border-color 0.2s ease-in-out; /* Add a transition for smooth color change */
        width: 400px; /* Adjust the width as needed */
    }


